.custom-rounded {
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
}
.sr-only{
    position:relative !important;
}
.dp__input_wrap .dp__pointer {
   border-radius: 6px;
   height: 36px;
   border: 1px solid #d1d5db;
}
.ant-modal-close{

    display: none;
}
.ant-modal-content{
    padding: 0px !important;
}
.iconHidden .dp__input_wrap .dp__input_icons{
    display: none;
}
.iconHidden .dp__pointer {
    padding: 5px 10px !important;
    display: flex;
    align-items: center;
}